/* Styling */

body
{
    background-color: aqua;
    align-content: center;
    text-align: center;
    font-family: monospace;
}
h1
{   border: 2px solid rebeccapurple;
    font-size: 300%;
    text-align: center;
    font-family: monospace;
}
p1
{
    font-size: 200%;
    font-family: Arial;
}

.spooked-abel
{
    align-self: center;
    border: 10px double black;
    width: 20%;
    height:20%;
}
.lost-gif{
    width:50%;
    height:50%;
}
.arrow-button {
    display: block;
    margin: 0 auto;
    display: flex;
    color: #c2e6ff;
    background-color: #0051e6;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #c2e8ff;
    border-bottom: 2px solid #c2e3ff;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #01397a;
    color: #fff;
}
